.on,.off{
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: none;
    margin: var(--size);
    
    
}
.on{
    background: var(--blue);
    box-shadow: 
       0 0 var(--size) var(--blue),
       0 0 calc(var(--size)*2) var(--blue);
}
.off{
   background-color: rgb(55, 55, 55);
}